html,body {
  height:100%;

}

h1 {
  font-family: Arial,sans-serif;
  font-size:80px;
  letter-spacing:2px;
  color:#332F3E;
}

.lead {
  color:#332F3E;
}

#searchInput,
#searchButton {
  line-height: 50px;
  font-size: 16px;
}

#searchButton {
  color: #332F3E;
}

#searchInput {
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-right-radius:15px;
}

#searchInput {
  height: 70px;
}

.inputForm{
  margin-top: 50%;
  width: 50%;
}

.inputForm.verticalTranslate{
  -webkit-transition: 2s;
          transition: 2s;
  margin-top: 0% !important;
}

.inputForm.horizontalStretch {
  -webkit-transition: 2s;
          transition: 2s;
  width: 100% !important;
}

.panel {
  background-color: #80C8B5;
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#80C8B5;
  color:#332F3E;
  overflow:hidden;
}

.container-full a {
    color:#332F3E;
    text-decoration:none;
}

.v-center {
  margin-top:7%;
}
